<form>
    Title: {{input type="text" value=title}}<br>
    Owner: {{input type="text" value=owner}}<br>
    City: {{input type="text" value=city}}<br>
    Type: {{input type="text" value=type}}<br>
    Image Link: {{input type="text" value=image}}<br>
    Number of Bedrooms: {{input type="text" value=bedrooms}}<br>
    <button {{action "createRental"}}>Create new Rental</button>
</form>